* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    scrollbar-gutter: stable;
    background: var(--light);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper>main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.container {
    max-width: 1355px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.diplom {
    position: relative;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diplom img {
    border: 2px solid black;
    position: relative;
    height: 90vh;
}

.winner {
    width: fit-content;
    font-size: 2em;
    position: absolute;
    top: 43%;
    transform: translateY(43%);
    text-align: center;
}

.reason {
    position: absolute;
    top: 55%;
    transform: translateY(55%);
    text-align: center;
    width: 27%;
    resize: none;
}